services:
  api:
    build:
      context: ./server
    env_file:
      - ./server/.env
    ports:
      - "8080:8080"

  web:
    build:
      context: ./client
      args:
        # build-time (Vite)
        VITE_API_BASE_URL: "http://localhost:8080"
    ports:
      - "8081:80"
    depends_on:
      - api
